@page
@model Day8_CodingAssignment_4_RazorPages_.Pages.ItemsModel
@{
    ViewData["Title"] = "Item List";
}

<h2>@ViewData["Title"]</h2>

<ul>
    @foreach (var item in Model.Items)
    {
        <li>@item</li>
    }
</ul>

<a asp-page="AddItem">Add New Item</a>
